label{
    display: inline-block;
    text-align: justify;
    font-size: 30px;
    width: 65px;
    line-height: 0;
}
label:before{
    content: "";
    display: inline-block;
    width: 100%;
}
label:after{
    content: "";
    display: inline-block;
    width: 100%;
}
input{
    font-size: 30px;
    width: 400px;
    background-color: #edeff5;
    border: 3px solid #283048;
}
form{
    text-align: center;
}
.wrapper{
    min-height: 100vh;
}
.item {
    background-color: #d2e0f3;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    color:#283048;
}
body{
    background: linear-gradient(to bottom,#283048,#859398);
}
h1{
    font-size: 60px;
    text-align: center;
}
