.container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 12rem;
    text-align: center;
    margin: 0;
}
input[type="submit"]{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    width: 17vw;
    height: 20vh;
}